body{
	background: #F0F0F0;
}

.square{
	 width: 1300px;
	 margin-left:15%;
	 margin-top: 10%;
	 background-color: white;
	 border-top-left-radius: 50px;
	 box-shadow:-34px 12px 73px -47px rgba(0,0,0,0.75);
}

.main{
	display: grid;
	grid-template-columns: 1fr 4fr ;
}

.sidebar{
	display: grid;
	height: 460px;
}

.products{
	margin: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:25px;
	grid-column-gap: 25px;
  grid-row-gap: 25px;

}


.product{
	background: url("images/shoes.png");
	background-size: 100%;
}

.sidebarlabel{
	position: absolute;
  top: 150;
  left: 250;


}
